<div class="container">

  <div class= "col-md-3">
    <h2>User info</h2>

 <% if @user.profile_image.attached? %>
    <%= image_tag @user.image, size: "100x100" %>
  <% else %>
    <%= image_tag 'no_image', size: "100x100" %>
  <% end %>

<table class = "table">
<tbody>
  <tr></tr>
  <tr>
    <th>name</th>
   <th> <%= @user.name %></th>
    </tr>

    <tr>
    <th>introduction</th>
    <th><%= @user.introduction %>
    </th>

  </tr>
  </tbody>
</table>

<div class = "row">
<%= link_to"edit user",edit_user_path(@user.id), class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench"%>

</div>







        <!-- form_for部分 -->
    <%= form_for(@book,  url: books_path) do |f| %>
    <h2>New book</h2>
    <h4>Title</h4>
    <%= f.text_field :title,class: "col-xs-12" %>
    <h4>Opinipn</h4>
    <%= f.text_field :body,class: "col-xs-12" %>
    <nav>
        <%= f.submit 'Create Book',class: "col-xs-12 btn btn-primary" %>
    </nav>
    <% end %>

  </div>

 <div class= "col-xs-9">
    <h2>Book detail</h2>
    <table class='table' >
    <tr>
    <td>
      <%= link_to user_path(@book.user_id) do %>

         <nav>
           <%= @book.user.name %>
         </nav>
       <% end %>
    </td>



    <td><%= link_to @book.title %></td>
    <td><%= @book.body %></td>

    <% if @book.user_id == current_user.id %>
    <td><%= link_to"edit", edit_book_path(@book.id),class:"btn-sm btn-success" %></td>
    <td><%= link_to "destroy", book_path(@book.id), class:"btn-sm btn-danger destroy(@book.id)", method: :delete, data: {confirm: "削除しますか？"} %></td>
    <% end %>
    </tr>
    </table>
  </div>